:root {
  --bg_color: #F2F2F2;
  --menu_color: #000000;
  --font_titre: 15pt;
  --font_slider: 30pt;
  --font_menu_rect: #D4B151;
  --font_service: 25pt;
  --font_realisation: 20pt;
  --outline: #ffffff;
  --texte: #ffffff;
  --border: 2px solid var(--outline);
  --dots-color: #DFBD5C;
  --animate-duration: 1.5s;
  --animate-delay: 1s;
  --animate-repeat: 1
}

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bg_color);
}

a {
  text-decoration: none;
  color: var(--texte);
}

.space {
  padding-left: 50px;
  padding-right: 40px;
}

.space_bottom {
  margin-bottom: 60px;
}


header {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 60px;
  z-index: 500;
  position: fixed;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.nav_bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_container a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo_container img {
  width: 60px;
}

.logo_container p {
  position: relative;
  padding-left: 10px;
}

.logo_container p::after {
  display: flex;
  content: "";
  width: 2px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  position: absolute;
  top: -10px;
  left: -10px;
}

.menu_nav {
  padding-right: 40px;
}

.btn_nav {
  list-style-type: none;
  padding: 10px;
  display: inline-block;
}

.btn_nav:hover a {
  color: rgb(255, 255, 255);
}

.btn_nav a {
  text-decoration: none;
  color: var(--font_menu_rect);
}

.btn_nav.active a {
  color: rgb(255, 255, 255);
}


.menu_hamburger{
  display: none;
}

.fa-solid,
.fas {
  color: var(--texte);
  font-weight: 900;
  font-size: 20pt;
}

.swiper {
  width: 100%;
  height: 680px;
  overflow: hidden;
}

.swiper-slide {
  overflow: hidden;
}

.slide_image {
  width: 100%;
  height: 100%;
}

.slide_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  animation: zoomAnimation 20s infinite alternate;
}

.slide_filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.slide-text {
  color: white;
  max-width: 40%;
  margin-left: 130px;
}

.slide-text h1 {
  font-size: 30pt;
  font-weight: 700;
  margin-bottom: 10px;
}

.slide-text h3 {
  font-size: 18pt;
  font-weight: 400;
  margin-bottom: 0;
}

@keyframes zoomAnimation {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.swiper-button-next,
.swiper-button-prev {
  background: #d9d9d952;
  color: var(--texte);
  max-width: 76px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  margin-right: 40px;
}

.swiper-button-prev {
  margin-left: 50px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25pt;
}

.nos_services_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service_title {
  color: var(--menu_color);
  font-size: 24pt;
  font-weight: 700;
  position: relative;
  letter-spacing: 5px;
  padding-left: 22px;
  text-transform: uppercase;
}

.form_bf_title::before {
  content: "";
  position: absolute;
  background-color: var(--font_menu_rect);
  width: 7px;
  height: 45px;
  left: calc(0px);
}

.arrow img {
  width: 30px;
  height: 30px;
}

.all_services {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  scrollbar-width: none;
}

.flip-card {
  background-color: transparent;
  width: 260px;
  height: 380px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-image {
  width: 100%;
  height: 100%;
}

.flip-card-front-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.flip-card-front-text {
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 14pt;
  margin-bottom: 10px;
  width: 100%;
  bottom: 0;
  position: absolute;
  color: var(--texte);
  text-transform: uppercase;
}

.flip-card-back {
  width: 100%;
  height: 100%;
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.flip-card-front-filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.rectangle {
  width: 260px;
  height: 320px;
  margin: 0;
  position: relative;
  display: flex;
}

.nos_services_item {
  display: flex;
  gap: 30px;
}

.rect_filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 320px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}

.rectangle p {
  color: white;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  font-size: 14pt;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.realisation {
  width: 260px;
  height: 350px;
  margin: 0;
  position: relative;
}

.realisation_photo {
  width: 100%;
  height: 100%;
}

.realisation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.rectangle_noir {
  background-color: #000000;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 30px;
}

.rect_noir_text p {
  color: white;
  position: relative;
  font-size: 14pt;
  font-weight: 500;
  text-align: center;
}

.slider_video {
  width: 100%;
  height: 400px;
  background-image: url(../Images/slider_3.webp);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-position: center;
  z-index: 1;
}

.filter {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider_video_text {
  text-align: center;
  color: #ffffff;
  position: absolute;
  font-size: 30pt;
  font-weight: 500;
  max-width: 500px;
}

.slider_video p {
  color: #ffffff;
}

.slider_video_text img {
  width: 70px;
}

.galerie {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  gap: 30px;
}

.galerie_photo img {
  width: 260px;
  height: 350px;
  object-fit: cover;
}

fieldset {
  border: none;
  background-color: #0C154B;
  color: var(--texte);
  width: 100%;
  max-height: 350px;
  padding: 0;
}

.chef_rectangle {
  width: 100%;
  min-height: 300px;
  background-color: #0C154B;
  color: var(--texte);
}

.pc {
  float: right;
  width: 333px;
  position: relative;
  top: -96px;
}

.chef_text {
  width: 65%;
  margin-top: 15px;
}

.chef_text_grif_name {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.chef_text_griffes {
  background-color: white;
  background-image: url(../Images/griffes.svg);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.chef_text_name {
  color: white;
  letter-spacing: 5px;
  font-size: 23pt;
  font-weight: 500;
}

.chef_text_bas p {
  max-height: 95%;
  text-align: justify;
  font-size: 16pt;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.chef_photo {
  margin-left: 20px;
  /* pour espacer la photo du texte */
}

.chef_photo img {
  width: 300px;
  float: right;
  position: relative;
  top: -64px;
}

.phone {
  display: none;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #000000;
}

.footer_items {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding-top: 35px;
  width: 95%;
  justify-content: space-between;
}

.footer_item_left {
  width: 30%;
}

h4 {
  font-size: 18pt;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--texte);
  padding-bottom: 15px;
}

.text_color {
  color: var(--dots-color);
}

.footer_icons {
  display: flex;
  gap: 15px;
}

.footer_icons_column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.circle {
  background-color: var(--dots-color);
  border: 1px solid #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.circle p {
  font-size: 30pt;
}

.circle img {
  width: 26px;
}

.footer_item_center {
  width: 30%;
}

.footer_item_right {
  width: 30%;
}

.contacter {
  display: flex;
  align-items: center;
}

.contacter_number {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  text-align: right;
  color: var(--texte);
}

.adress {
  max-width: 216px;
  color: var(--texte);
  padding-left: 10px;
}

.copyright_powered {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10pt;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}